{% extends "base.html" %}
{% block title %}List of tasks{% endblock %}
{% block content %}
    <h1>List of tasks</h1>

    <div class="mp-4 mb-4">
        <div class="row">
            <div class="col-9">
        <form>
            <div class="form-row">
                <div class="col">
                    <input class="form-control" type="text" placeholder="Search" name="search" value="{{ f_search }}"> 
                </div>
                 <div class="col">
                    <select class="form-control" name="status">
                        <option value="all">All</option>
                        {% for status in statuses %}
                        <option value="{{ status.id }}" {% if selected_status == status.id %}selected{% endif %}>
                            {{ status }}
                        </option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" name="my" id="my-tasks-checkbox"
                        {% if f_my == 'on' %}checked{% endif %}>
                        <label class="form-check-label" for="my-tasks-checkbox">Show my tasks</label>
                    </div>
                </div>
                <div class="col">
                    <button class="btn btn-primary" type="submit">Go</button>
                </div>
            </div>
        </form>
            </div>
            <div class="col-3 text-right">
                <a href="{% url 'new_task' %}" class="btn btn-success"><i class="fas fa-plus"></i> New task</a>
            </div>
        </div>     
    </div>
{% if tasks %}
    <table class="table table-bordered table-striped table-hover">
            <tr>
                <th>Title</th>
                <th>Author</th>
                <th>Status</th>
                <th>Added</th>
            </tr>

            {% for task in tasks %}
            <tr>
                <td><a href="{% url 'task' task.id %}">{{ task.title }}</a></td>
                <td>{{ task.author }}</td>
                <td><span class="badge badge-pill badge-warning">{{ task.status }}</span></td>
                <td>{{ task.added|date:"d M Y, H:i" }}</td>
            </tr>
            {% endfor %}
        </table>
{% else %}
    <div class="alert alert-info">There are no tasks.</div>
{% endif %}

<!-- <ul class="pagination justify-content-center">
<div class="pagination" style="margin-top: 10px">
    <span class="step-links">
        {% if tasks.has_previous %} -->
            <!-- <a href="?page=1" class="link">&laquo; first</a> -->
<!--             <a href="?page={{ tasks.previous_page_number }}" class="link">&laquo; previous</a>
        {% endif %}

        <a href="" class="link active"><span class="current">{{ tasks.number }}</span></a>

        {% if tasks.has_next %}
            <a href="?page={{ tasks.next_page_number }}" class="link">next &raquo;</a> -->
            <!-- <a href="?page={{ tasks.paginator.num_pages }}" class="link">last &raquo;</a> -->
<!--         {% endif %}
    </span>
</div>
</ul>
<style>
.link{
  text-decoration:none;
  color:DodgerBlue;
  border:1px solid LightSkyBlue;
  padding:6px;
}
.active{
  background:LightCyan;
  color:DodgerBlue;
}
</style> -->


{% load i18n core_tags %}
{% if tasks.has_other_pages %}
  {% with p_url=request.get_full_path %}
  <nav id="pagination" aria-label="Page navigation">
      <ul class="pagination pagination-sm justify-content-center">
    {% if tasks.has_previous %}
      <li class="page-item prev"><a class="page-link" href="{% set_query_parameter p_url 'page' tasks.previous_page_number %}">&laquo;</a></li>
    {% else %}
      <li class="page-item prev disabled"><a class="page-link">&laquo;</a></li>
    {% endif %}
    {% for i in tasks.paginator.page_range %}
        {# if we're beyond the first five pages, just show "..." until three pages before the current page #}
        {# e.g. on page 12 show: "... 9 10 11 12" #}
        {% if tasks.number > 5 and i < tasks.number|subtract:4 %}
                {% if i|add:'-3' <= 0 %}<li class="page"><a class="page-link" href="{% set_query_parameter p_url 'page' i %}">{{ i }}</a></li>{% endif %}
        {% elif tasks.number > 5 and i == tasks.number|add:'-4' %}
                {# show '...' #}
                <li class="page-item page disabled"><a class="page-link">...</a></li>
        {# if we're before the last five pages, just show "..." for pages more than three after the current page #}
        {# e.g. on page 1 of 10 show: "1 2 3 4 ..." #}
        {% elif tasks.number < tasks.paginator.num_pages|add:'-5' and i > tasks.number|add:4 %}
            {% if i|add:3 > tasks.paginator.num_pages %}<li class="page-item"><a class="page-link" href="{% set_query_parameter p_url 'page' i %}">{{ i }}</a></li>{% endif %}
        {% elif tasks.number < tasks.paginator.num_pages|add:'-5' and i == tasks.number|add:4 %}
            {# show '...' #}
                <li class="page-item page disabled"><a class="page-link">...</a></li>
        {% elif tasks.number == i %}
            <li class="page-item page active"><a class="page-link">{{ i }}</a></li>
        {% else %}
            <li class="page-item page"><a class="page-link" href="{% set_query_parameter p_url 'page' i %}">{{ i }}</a></li>
        {% endif %}

    {% endfor %}
    {% if tasks.has_next %}
      <li class="next"><a class="page-link" href="{% set_query_parameter p_url 'page' tasks.next_page_number %}">&raquo;</a></li>
    {% else %}
      <li class="next disabled"><a class="page-link">&raquo;</a></li>
    {% endif %}
      </ul>
  </nav>
  {% endwith %}
{% endif %}

{% endblock %}
  </div>



