{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}{{ task.title }}{% endblock %}

{% block content %}
<h1>{{ task.title }}
    <small>
        <span class="badge badge-pill badge-warning">{{ task.status }}</span></h1>
    </small>
<div class="mb-4">
    <strong>{{ task.author }}</strong> |
    {{ task.added|date:"d M Y, H:i" }}
</div>

<hr>
{{ task.body_as_html|safe }}

<hr>

<a href="{% url 'edit_task' task.id %}" class="btn btn-success {% if request.user != task.author and not request.user.is_superuser %}disabled{% endif %}">
    <i class="fas fa-edit"></i> Edit task 
</a>

<a href="{% url 'delete_task' task.id %}" class="btn btn-danger {% if request.user != task.author and not request.user.is_superuser %}disabled{% endif %}">
    <i class="far fa-trash-alt"></i> 
</a>

<div class="mt-4">
    {% for comment in task.comments.all %}
    <div class="card mt-3">
        <div class="card-header">
            <strong>{{ comment.author }}</strong>,  {{ comment.added|date:"d M Y, H:i" }}
        </div>
        <div class="card-body">
            {{ comment.body_as_html|safe }}
        </div>
    </div>
    {% endfor %}
    <div class="mt-4 mb-4">
        <div class="alert alert-info" role="alert">
            Please leave your comment below
        </div>
    <form method="post">
         {% csrf_token %}
         {{ comment_form|crispy }}
         <div class="mt-2">
             <button type="submit" class="btn btn-primary">Submit</button>
         </div>
    </form>
</div>
</div>
 {% endblock %}