{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}Edit profile{% endblock %}
{% block extra_media %}{{ form.media }}{% endblock %}

{% block content %}
<div class="row">
    <div class="col-lg-6 offset-lg-3">
        <div class="card-header">
            <h1>Edit profile</h1>
        </div>
        <div class="card">
            <div class="card-body">
                <form method="post">
                    {% csrf_token %}
                
                    {{ form|crispy }}
                    <div class="form-group">
         <button class="btn btn-primary" type="submit">Save</button>
                </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

