{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}Profile{% endblock %}

{% block content %}
<div class="row">
    <div class="col-lg-6 offset-lg-3">
        <div class="card-header">
            <h1>Profile</h1>
        </div>
        <div class="card">
            <div class="card-body">
                <form method="post">
                    {% csrf_token %}
                
                    {{ form|crispy }}
                    <form class="form-horizontal">
  <div class="form-group">
    <label class="control-label col-sm-4" for="usr"><strong>Username:</strong></label>
    <div class="col-sm-10">
      <p class="form-control-static">{{ user.username }}</p>
    </div>
  </div>
    <div class="form-group">
    <label class="control-label col-sm-4" for="usr"><strong>First name:</strong></label>
    <div class="col-sm-10">
      <p class="form-control-static">{{user.first_name}}</p>
    </div>
  </div>
      <div class="form-group">
    <label class="control-label col-sm-4" for="usr"><strong>Last name:</strong></label>
    <div class="col-sm-10">
      <p class="form-control-static">{{user.last_name}}</p>
    </div>
  </div>
        <div class="form-group">
    <label class="control-label col-sm-4" for="email"><strong>Email:</strong></label>
    <div class="col-sm-10">
      <p class="form-control-static">{{ user.email }}</p>
    </div>
  </div>
</form>
<!-- <div><img src="{{ user.userprofile.image.url }}" width="240"></div> -->
                    <div class="label round secondary" align="right"><a href="/edit_profile/" >Edit</a></div>
                </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
